body {
    margin: 0;
    min-width: 1080px;
}

.contents {
    width: 1070px;
    margin: 0 auto;
}

section {
    margin-top: 70px;
}

.image-box {
    max-width: 550px;
    margin: 0 auto;
}

.image-box figure {
    display: flex;
    justify-content: center;
}

.image-box figure img {
    max-width: 600px;
}

/* arrow */

.arrow-container {
    display: flex;
    justify-content: center;
}

.arrow-bottom {
    display: inline-block;
    border-style: solid;
    border-width: 24px 14px 0 14px;
    border-color: #1a458a transparent transparent transparent;
}

/* for tablets */
@media screen and (min-width: 769px) and (max-width: 1039px) {
    .global-header-container {
        width: unset;
        margin: 0.625rem 0.938rem;
    }
}

/* for smart phones */
@media screen and (max-width: 768px) {
    body {
        min-width: initial;
    }
    
    .contents {
        width: 100%;
    }

    .text-box {
        margin: 0 1.25rem;
    }

    .text-title {
        margin: 0 1.25rem;
    }

    .image-box figure img {
        width: 100%;
        height: auto;
    }
}