body {
    margin: 0;
    min-width: 1080px;
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
}

.contents {
    width: 1080px;
    margin: 0 auto;
}

section {
    margin-top: 70px;
}

/* text */
.text-box p {
    font-weight: 400;
}

/* image */
.image-box {
    max-width: 550px;
    margin: 0 auto;
}

.image-box figure {
    display: flex;
    flex-direction: column;
}

.image-box figure img {
    max-width: 600px;
    height: 300px;
    object-fit: cover;
}

.image-box figure figcaption {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
}

/* anchor */
.anchor_link {
    margin: 0 auto;
}

.anchor_link p {
    text-align: center;
    margin-top: 5px;
}

.anchor_link ul {
    display: flex;
    padding-left: 0;
    gap: 150px;
}

.anchor_link ul li {
    list-style: none;
    text-align: center;
    width: 50%;
}

.anchor_link ul li:first-child {
    display: flex;
    justify-content: end;
}

.anchor_link ul li:nth-child(2) {
    display: flex;
    justify-content: start;
}

.anchor_link ul li:first-child .anchor_link p{
    color: #1a458a;
}

.anchor_link ul li a {
    text-decoration: none;
    color: #222;
}

.anchor_link ul li a:visited {
    color: #222;
}

.anchor_link ul li a img {
    width: 150px;
    height: auto;
}

/* arrow */

.arrow-container {
    display: flex;
    justify-content: center;
}

.arrow-bottom {
    display: inline-block;
    border-style: solid;
    border-width: 1rem 0.7rem 0.7rem 0.7rem;
    border-color: #1a458a transparent transparent transparent;
}

/* google maps */

.google-maps {
    width: 800px;
    margin: 0 auto;
}

/* for tablets */
@media screen and (min-width: 769px) and (max-width: 1039px) {
    .global-header-container {
        width: unset;
        margin: 0.625rem 0.938rem;
    }
}

/* for smart phones */
@media screen and (max-width: 768px) {
    body {
        min-width: initial;
    }
    
    .contents {
        width: 100%;
    }

    .text-box {
        margin: 0 1.25rem;
    }

    .text-title {
        margin: 0 1.25rem;
    }

    .image-box figure img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    .anchor_link ul {
        gap: unset;
    }

    .anchor_link ul li:first-child {
        display: block;
        justify-content: unset;
    }
    
    .anchor_link ul li:nth-child(2) {
        display: block;
        justify-content: unset;
    }

    .anchor_link ul li a img {
        width: 30%;
        height: auto;
    }

    .google-maps {
        width: 90%;
    }

    .google-maps iframe {
        height: 200px;
    }
}