footer {
    background-color: #1a458a;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-container p {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .footer-container p {
        font-size: 0.75rem;
    }
}