@charset "UTF-8";
.links li a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #1a458a;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
}

.sp-area {
  display: none !important;
}

.pc-area {
  display: block;
}

.br-sp {
  display: none;
}

.links li a:hover::after {
  transform: scale(1, 1);
}

.mt50 {
  margin-top: 50px;
}

body {
  margin: 0;
  min-width: 1080px;
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.text-small {
  font-size: 14px;
}

.text-bold {
  font-weight: bold;
}

h2 {
  color: #1a458a;
}

.global-header-container {
  width: 1070px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
}
.global-header-container img {
  height: 50px;
  width: auto;
}
.global-header-container a img {
  height: 50px;
  width: auto;
}
.global-header-container .global-header-nav {
  height: 50px;
}
.global-header-container .global-header-nav .links {
  display: flex;
  height: 50px;
}
.global-header-container .global-header-nav .links li {
  list-style: none;
  margin-left: 40px;
  font-size: 1em;
  position: relative;
  padding: 0em 0.3em 0.3em 1.3em;
}
.global-header-container .global-header-nav .links li a {
  text-decoration: none;
  color: #1a458a;
  position: relative;
}

.links {
  color: #1a458a;
}

.contents {
  width: 1070px;
  margin: 0 auto;
}

.mv {
  background-image: url(../img/frisbee_01.jpg);
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.mv .mv-container {
  max-width: 1070px;
  margin: 0 auto;
}

.mv .mv-container .mv-box {
  position: absolute;
  top: 40%;
}

.mv-button {
  margin-top: 50px;
}

.mv-button__link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  outline: none;
  transition: ease .2s;
  background-color: #ed691c;
  border-radius: 10px;
}

.mv-button__link:hover {
  border: 1px solid #ed691c;
}

.mv-button__link span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.mv-button__link:hover span{
  color: #ed691c;
}

.bgskew::before {
  content: '';
  position: absolute;
  top: 0;
  left: -130%;
  background:#fff;
  width:120%;
  height: 100%;
  transform: skewX(25deg);
}

.bgskew:hover::before {
  animation: skewanime .5s forwards;
}

@keyframes skewanime {
  100% {
    left:-10%;
  }
}

.jump_point {
  display: block;
  padding-top: 120px;
  margin-top: -120px;
}

section {
  margin-top: 70px;
}

.upcoming-events .event-boxes {
  display: flex;
  justify-content: center;
}

.upcoming-events .event-boxes .one-box {
  border-radius: 10px;
  border: solid #1a458a 2px;
  padding: 7px;
  width: 260px;
}
.upcoming-events .event-boxes .one-box a {
  text-decoration: none;
  color: #1a458a;
}
.upcoming-events .event-boxes .one-box a :visited {
  color: #1a458a;
}
.upcoming-events .event-boxes .one-box a .box-image {
  display: flex;
  justify-content: center;
}
.upcoming-events .event-boxes .one-box a .box-image img {
  border-radius: 10px;
  width: 260px;
  height: 150px;
  object-fit: cover;
}
.upcoming-events .event-boxes .one-box a .box-text p {
  color: #1a458a;
}
.upcoming-events .event-boxes .one-box a .box-text .text-small {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 15px;
}
.upcoming-events .event-boxes .one-box a .box-text .text-bold {
  margin-top: 3px;
  padding-left: 15px;
}
.upcoming-events .event-boxes .one-box a .box-text .text-fix {
  padding-left: 10px;
}

.one-box {
  position: relative;
  max-width: 260px;
  margin: 0 20px;
  width: 60%;
  margin-bottom: 55px;
}

.one-box a {
  text-decoration: none;
  color: #3e3a39;
}

.box-image {
  overflow: hidden; /*拡大時にはみ出た部分を隠す*/
  max-width: 260px; /*画像の幅*/
  max-height: 460px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.box-image img {
  width: 100%;
  max-width: 260px;
  display: block;
  transition: all 0.3s ease 0s;
}

.box-image img:hover {
  transform: scale(1.2); /*画像の拡大率指定*/
}

.past-events .news-contents {
  width: 90%;
  margin: 0 auto;
}
.past-events .news-contents a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.3s;
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  padding-left: 10px;
}
.past-events .news-contents a .date {
  padding-right: 30%;
}

.text-box p {
  line-height: 1.5;
}

/* what kinf of sport ~~~ */
.sports-tab-wrap {
  display: flex;
  justify-content: center;
}

.sports-tab-wrap .sport-tab {
  margin: 0 15px;
}

.sports-tab-wrap .sport-tab button {
  background-color: #fff;
  border: unset;
  border-radius: 10px;
  border: 2px #1a458a solid;
  color: #1a458a;
  height: 50px;
  width: 150px;
  font-family: 'Roboto', sans-serif;
}

.is-current {
  background-color: #1a458a !important;
  color: #fff !important;
}

.sports-tab-wrap .sport-tab button:hover {
  background-color: #577fbf;
}

.js-tab-display-wrap {
  margin: 30px 100px;
  display: flex;
}

.js-tab-display .display-text-box-img img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.display-text-box-flex .display-text-box-img {
  margin-right: 30px;
}

.display-item .display-text-box-img img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.display-text-box p {
  line-height: 1.5;
  margin: 0;
}

.display-text-box-flex {
  display: flex;
}

.img-box-alt {
  width: 300px;
  height: 200px;
  background-color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.andmore {
  width: 100%;
}

.display-2column {
  display: flex;
  justify-content: center;
  margin: 0 70px;
}

.display-item {
  margin: 0 50px;
}

.contact-contents {
  display: flex;
}
.contact-contents a {
  text-decoration: none;
  margin-right: 30px;
}
.contact-contents a .social-media-icon {
  width: 50px;
  height: 50px;
}
.contact-contents a .social-media-icon img {
  width: 50px;
  height: 50px;
}

.change-color {
  background-color: #1a458a;
  transition: 0.3s;
  height: auto;
}

.text-color {
  color: #fff !important;
}

.global-header-nav {
  margin-left: auto;
}

.js-headLinks {
  display: flex;
  margin-bottom: 0;
}

footer {
  background-color: #1a458a;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-container p {
  color: #fff;
}


/* for tablets */
@media screen and (min-width: 769px) and (max-width: 1039px) {

  .global-header-container {
    width: unset;
    margin: 0.625rem 0.938rem;
  }

  .upcoming-events h2 {
    text-align: center;
  }

  .contact-contents {
    margin: 0 5rem;
  }

  .mv {
    width: 100%;
  }

  .sports-tab-wrap {
    margin: 0 5rem;
  }

  .sports-tab-wrap .sport-tab {
    margin: 0 10px;
  }

  .sports-tab-wrap .sport-tab button {
    width: 120px;
  }

  .mv .mv-container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
  }

  .mv .mv-container .mv-box {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .mv .mv-container .mv-box .mv-text h1 {
    color: #fff;
    text-shadow: 2px 2px 3px #292929;
  }

  .upcoming-events .event-boxes {
    width: 90%;
    margin: 0 auto;
  }

  .upcoming-events .event-boxes .one-box {
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 0;
  }

}

/* for smart phones */
@media screen and (max-width: 768px) {
  body {
    min-width: initial;
  }

  .pc-area {
    display: none !important;
  }

  .sp-area {
    display: block !important;
  }

  .br-sp {
    display: block;
  }

  .contents {
    width: 100%;
  }

  .mv-container {
    position: relative;
  }

  /* burger menu - start - */
  #g-nav.panelactive{
    z-index: 999;
    top: 0;
    width:100%;
    height: 100vh;
  }

  .circle-bg{
    position: fixed;
    z-index: 3;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background: #999;
    transform: scale(0);
    right: -3.125rem;
    top: -3.125rem;
    transition: all .6s;
  }

  .circle-bg.circleactive{
    transform: scale(50);
  }

  #g-nav-list{
    display: none;
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  #g-nav.panelactive #g-nav-list{
      display: block;
  }

  #g-nav ul {
    opacity: 0;
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 0;
  }

  #g-nav.panelactive ul {
    opacity:1;
  }

  #g-nav.panelactive ul li {
    animation-name:gnaviAnime;
    animation-duration:1s;
    animation-delay:.2s;
    animation-fill-mode:forwards;
    opacity:0;
  }

  @keyframes gnaviAnime{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #g-nav li{
    text-align: center; 
    list-style: none;
  }

  #g-nav li a{
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
    width: 18.75rem;
  }

  .openbtn1{
    position:fixed;
    top:10px;
    right: 10px;
    z-index: 9999;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
  }
  
  .openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 0.875rem;
    height: 0.188rem;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }

  .openbtn1 span:nth-of-type(1) {
    top: 0.938rem; 
  }

  .openbtn1 span:nth-of-type(2) {
    top: 1.438rem;
  }

  .openbtn1 span:nth-of-type(3) {
    top: 1.938rem;
  }

  .openbtn1.active span:nth-of-type(1) {
    top: 1.125rem;
    left: 1.125rem;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn1.active span:nth-of-type(3){
    top: 1.875rem;
    left: 1.125rem;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

/* burger menu - end - */

  .mv {
    background-image: url(../img/frisbee_01.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .mv .mv-container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
  }

  .mv .mv-container .mv-box {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 1.25rem;
  }

  .mv .mv-container .mv-box .mv-text h1 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 3px #292929;
  }

  .mv .mv-container .mv-box p {
    color: #fff;
    padding-top: 2.5rem;
  }

  .mv-button__link {
    padding: 15px 30px;
    border-radius: 0.625rem;
  }

  .mv-button__link span {
    font-size: 1rem;
  }

  .mv-button {
    margin-top: 1.875rem;
  }

  .upcoming-events h2 {
    text-align: center;
  }

  .upcoming-events .event-boxes .one-box {
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 0;
  }

  .past-events .news-contents a .date {
    padding-right: 7% !important;
  }

  .past-events .news-contents a {
    padding: 10px;
  }

  .about-us {
    margin-top: 3.125rem;
  }

  .contact-contents {
    margin: 0 1.25rem;
  }

  .contact-contents a .social-media-icon {
    margin-right: 0 !important;
  }

  .text-box {
    margin: 0 1.25rem;
  }

  .text-title {
    margin: 0 1.25rem;
  }

  .display-text-box {
    margin: 0 1.25rem;
  }

  .display-text-box p {
    padding-top: 1rem;
  }

  .js-tab-display-wrap {
    margin: unset;
  }

  .js-tab-display {
    display: block !important;
  }

  .js-tab-display .display-text-box-img img {
    width: 90%;
    height: 10.5rem;
    object-fit: cover;
  }

  .display-2column {
    margin: 0;
  }

  .display-item {
    width: 40%;
    margin: 1.25rem 0.625rem;
  }

  .display-item h3 {
    font-size: 0.5rem;
  }

  .display-item .display-text-box-img {
    display: flex;
    justify-content: center;
  }

  .display-item .display-text-box-img img {
    width: 9.375rem;
    height: 4.688rem;
  }

  .text-box .display-text-box-img {
    display: flex;
    justify-content: center;
  }

  .footer-container p {
    font-size: 0.75rem;
  }
}